__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Django
staticfiles/
media/

# Env vars
.env

# Test/lint artifacts
.coverage
.mypy_cache/
.pytest_cache/
test_db.sqlite3

# IDE
.vscode/
.idea/
